/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    font-size: 16px;
    color: #333;
    background-color: #f4f4f4;
    line-height: 1.6;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: white;
    background-color: rgb(170, 146, 110);
}

.header h1 {
    margin: 0;
    font-size: 34px;
}

.nav {
    display: flex;
    gap: 10px;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #333; /* Changed from white to match hover color */
    transition: background-color 0.3s ease, color 0.3s ease;
}

a:hover {
    background-color: #ddd; /* Slightly darker background for hover */
    color: #111;
}

/* Estilo do container principal */
.main-center {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.container {
    display: flex;
    max-width: 1300px;
    width: 100%;
    gap: 30px;
}

/* esquerda */
.main-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 450px;
    float: right;
    padding: 40px 32px;
    border-radius: 8px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.main-left,h2{
    font-size: 1.6rem;
    margin-bottom: 5px;
    color: rgb(0, 0, 0);
}

.cadastro {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 25px;
    border-radius: 15px;
    width: 100%;
}

.cadastro input[type="text"],
.cadastro input[type="email"]{
    width: 100%;
    padding: 10px;
    border: solid 1px #00000088;
    border-radius: 5px;
    font-size: 17px;
}

.main-left input[type="button"]{
    width: 50%;
    padding: 10px;
    border: solid 1px #00000088;
    border-radius: 5px;
    font-size: 17px;
}

input[type="button"]:hover{
    background-color: #526642; 
    color: white;
    cursor: pointer;
}
/* direita */
.main-right {
    flex: 1;
    min-height: 500px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 15px;
    float: right;
}

/* Estilo para a seção de imagens */
.imagens {
    display: flex;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

img{
    width: 100px;
    height: 100px;
}

p{font-family: Georgia, 'Times New Roman', Times, serif; font-size: 20px; }